@model List<Truck>

<table class="table">
    <tr>
        <th>Gallery</th>
    </tr>

    @foreach(var truck in Model)
    {
        <tr>
            <td><a href="truck/ViewTRUCK/@truck.ID">@truck.ID</td>
            <td>@truck.Model</td>
            <td><a href="@truck.ImageLink"><img src="@truck.ImageLink" style="float:left;width:240px;"></a></td>
            <td>@truck.Year</td>
            <td>@truck.Review.REVIEW</td>
        </tr>
    }

</table>