@model Truck

<h3>"@Model.Model" Info</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Model</th>
        <th>Year</th>
        <th>ReviewID</th>
    </tr>
    
        <tr>
            <td>@Model.ID</td>
            <td>@Model.Model</td>
            <td>@Model.Year</td>
            <td>@Model.Review</td>
        </tr>
</table>
<div style="display:block">
     <a href="/Truck/UpdateTruck/@Model.ID">Update this Truck</a>
</div>
<div style="display: block">
    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Deleteing this TRUCK is permenant; Are you sure?')" value="Delete this Truck" />
    }
</div>